.open { display: block !important; }

.bg-alt { background: var(--color-bg-alt); }

.bg-base { background: var(--color-bg); }

.text-center { text-align: center; }

.text-right { text-align: right; }

.w-full { width: 100%; }

.max-w-full { max-width: 100%; }
