/vendor
/.env
/var/
uploads/*
!uploads/.gitkeep
node_modules/
.phpunit.result.cache
.phpunit.cache/
build/
public/uploads/*
composer.phar
composer-setup.php
.php-cs-fixer.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
