{% extends "layouts/dashboard.html.twig" %}

{% block title %}Clinic Management Platform{% endblock %}

{% block brand %}Clinic Admin{% endblock %}

{% block top_menu %}
    {% if session.user is defined %}
        <a class="item" href="/dashboard">Панель</a>
        <a class="item" href="/patients">Пацієнти</a>
        <a class="item" href="/appointments">Записи</a>
        <a class="item" href="/medical-records">Медичні записи</a>
        <a class="item" href="/inventory">Склад</a>
        <a class="item" href="/billing">Рахунки</a>
        <a class="item" href="/admin/users">Користувачі</a>
        {% if session.user.role_id == 1 %}
            <a class="item" href="/admin/clinical">Клінічні довідники</a>
            <a class="item" href="/admin/auth_configs">Налаштування авторизації</a>
        {% endif %}
        {# Notification Dropdown #}
        <div class="ui dropdown item" id="notificationDropdown">
            <i class="bell icon"></i> Сповіщення
            <div class="menu" id="notificationMenu">
                <div class="header">Сповіщення</div>
                <div class="ui divider"></div>
                <div class="item">Завантаження...</div>
            </div>
        </div>
        <div class="item">Вітаю,&nbsp;<a href="/user/profile">{{ session.user.first_name }}</a></div>
        <a class="item" href="/logout">Вихід</a>
    {% else %}
        <a class="item" href="/login">Вхід</a>
    {% endif %}
{% endblock %}

{% block mobile_menu %}
    {% if session.user is defined %}
        <a class="item" href="/dashboard">Панель</a>
        <a class="item" href="/patients">Пацієнти</a>
        <a class="item" href="/appointments">Записи</a>
        <a class="item" href="/medical-records">Медичні записи</a>
        <a class="item" href="/inventory">Склад</a>
        <a class="item" href="/billing">Рахунки</a>
        <a class="item" href="/admin/users">Користувачі</a>
        {% if session.user.role_id == 1 %}
            <a class="item" href="/admin/clinical">Клінічні довідники</a>
            <a class="item" href="/admin/auth_configs">Налаштування авторизації</a>
        {% endif %}
        {# Notification Dropdown for Mobile #}
        <div class="ui dropdown item" id="notificationDropdownMobile">
            <i class="bell icon"></i> Сповіщення
            <div class="menu" id="notificationMenuMobile">
                <div class="header">Сповіщення</div>
                <div class="ui divider"></div>
                <div class="item">Завантаження...</div>
            </div>
        </div>
        <div class="ui fitted divider"></div>
        <a class="item" href="/user/profile">Мій профіль</a>
        <a class="item" href="/logout">Вихід</a>
    {% else %}
        <a class="item" href="/login">Вхід</a>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if session.user is defined %}
        <a class="item" href="/dashboard">Панель</a>
        <a class="item" href="/patients">Пацієнти</a>
        <a class="item" href="/appointments">Записи</a>
        <a class="item" href="/medical-records">Медичні записи</a>
        <a class="item" href="/inventory">Склад</a>
        <a class="item" href="/billing">Рахунки</a>
        <a class="item" href="/admin/users">Користувачі</a>
        {% if session.user.role_id == 1 %}
            <a class="item" href="/admin/clinical">Клінічні довідники</a>
            <a class="item" href="/admin/auth_configs">Налаштування авторизації</a>
        {% endif %}
        <div class="ui fitted divider"></div>
        <a class="item" href="/user/profile">Мій профіль</a>
        <a class="item" href="/logout">Вихід</a>
    {% else %}
        <a class="item" href="/login">Вхід</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.message .close').on('click', function() {
                $(this).closest('.message').transition('fade');
            });
        });
    </script>
{% endblock %}
