{% extends "layouts/base.html.twig" %}

{% block title %}Карта сайту — Клініка{% endblock %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui header">Карта сайту</h2>
        <div class="ui list">
            <a class="item" href="/">Головна</a>
            <a class="item" href="/about">Про клініку</a>
            <a class="item" href="/contact">Контакти</a>
            <a class="item" href="/book-appointment">Записатися</a>
            <a class="item" href="/appointments">Календар записів (персонал)</a>
        </div>
    </div>
{% endblock %}
