{% extends "layouts/base.html.twig" %}
{% import "components/forms.html.twig" as forms %}
{% import "components/ui.html.twig" as ui %}

{% block title %}Додати нову роль - Адмінка{% endblock %}

{% block body %}
    <div class="ui segment">
        <h2 class="ui header">Додати нову роль</h2>
        <div class="ui divider"></div>

        <form class="ui form" method="POST" action="/admin/roles/new">
            {{ forms.input('name', 'Назва ролі', old.name ?? '', 'text', 'Наприклад, Адміністратор, Лікар', errors.name ?? null, {'required': 'required'}) }}
            {{ forms.textarea('description', 'Опис ролі', old.description ?? '', 'Детальний опис прав та обов'язків', errors.description ?? null) }}

            {{ ui.button('Зберегти роль', 'primary', 'large', 'save') }}
            <a href="/admin/roles" class="ui button">Скасувати</a>
        </form>
    </div>
{% endblock %}
